* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fundo da Tela */

html {
    width: 100vh;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(#111111cc, #141414), url(imagens/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
   
}

/* menu - header - navbar */

header {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
}

.header-menu {
    position: absolute;
    float: left;
    right: 80px;
}

.menu-content {
    display: flex;
    text-transform: uppercase;
    height: 100%;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
    margin-left: 20%;
}

.menu-content .list-items {
    list-style: none;
    display: flex;
    gap: 10px;
}

.list-items a {
    text-decoration: none;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
    color: white;
    
}

.list-items a:before {
   content: '';
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 0px;
   height: 1px;
   background: rgb(251, 255, 0);
   transition: all 1.5s ease;
    
}

.list-items a:hover:before {
width: 100%;
} 

/* Centro - Conteudo principal */

main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* textos conteudo principal */

.primary-text {
    width: 700px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 75%;
}

.second-text {
    width: 500px;
    margin-bottom: 7rem;
    font-size: 2rem;
    text-align: center;
    margin-left: 90%;
    color: #a5a5a5;
    text-transform: uppercase;
}

/* botões */

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 90%;
    width: 500px;
}

.btn button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btn button:hover {
    color: yellow;
}

.btn button:before {
    content: '';
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 60px;
    background-color: #3d3d3d;
    z-index: -1;
    transition: 1s;
}

.btn button:hover:before {
width: 100%;
}
    


    